* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #009f4d;
    --secondary-color: #213364;
    --font-color: #666;
    --bg-color: #fff;
    --heading-color: #3f3a64;
    --border-radius: 8px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f7f7f7;
    --bg-lightgrey: #f8f9fa;
    --layer: rgba(29, 42, 55, 0.7);
}

body,
header,
footer {
    font-family: 'Hind', sans-serif;
    font-family: 'Jost', sans-serif;
}

h3 {
    color: var(--heading-color);
    font-weight: 500;
    font-size: 2rem;
}

p {
    color: var(--font-color);
}



.title1 {
    font-weight: 600;
}

html {
    font-size: 16px;
}

/* Nav  */
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;

}

.logo__name {
    /* display: block; */
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

.logo__slogan {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    padding-left: 30px;

}

.fa-align-right {
    font-size: 2rem;
    color: var(--primary-color);
}

.navbar-nav .nav-item .nav-link {
    font-weight: 500;
}

#CarouselID .carousel-control-next,
#CarouselID .carousel-control-prev {
    width: 3rem;
    height: 3rem;
    color: var(--primary-color);
    border: solid 0;
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow: 0 0 15px rgb(0 0 0 /12%);
    opacity: 1;
    z-index: 2;
}

.fa-arrow-right,
.fa-arrow-left {
    color: var(--heading-color);
}

#CarouselID .carousel-control-next {
    right: 40px;
    bottom: 20px;
    top: auto;
}

#CarouselID .carousel-control-prev {
    right: 120px;
    bottom: 20px;
    top: auto;
    left: auto;

}

#CarouselID .carousel-caption {
    top: 20%;
    bottom: 80%;
    transform: translateX(2%);

}

.carousel-caption h2 {
    max-width: 800px;
}

.carousel-caption p {
    color: white;
    max-width: 800px;
}

.portCarousel {
    position: relative;
}

.portCarousel .shape {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;

}

.shape path {
    fill: white;
}

#CarouselID h2 {
    font-size: 4rem;
}

#CarouselID p {
    font-size: 1.5rem;

}

#CarouselID .carousel-item {
    height: 100vh;
}

#CarouselID .carousel-item img {
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

#CarouselID .btn,
#challenges .btn {
    padding: .7rem 3rem;
    font-size: 1rem;
    font-weight: 600;
}

/* ABOUT */
.about__img {
    width: 50%;
    margin-left: 0;
}

.about__content,
.challenges__content,
.challenges__item {
    width: 50%;
}

.about__img img {
    width: 100%;
    border-radius: 1rem;
}

#about i {
    font-size: 1rem;
}

#about li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--heading-color);
}

/* challenges */

.challenges__item .col-6 {
    border-radius: 21px;
    padding-left: 0;
    padding-top: 0;
}

.challenges__item .card {
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    border: 0;
}

.card i {
    font-size: 3rem;
    color: var(--primary-color);
    padding-bottom: 1rem;
}

.challenges__item .row {
    width: 100%;
    margin: 0;
}

.challenges_card {
    width: 100%;
    height: 160px;
    box-shadow: 1px 1px 3px #bebebe;
    text-align: center;
    border-radius: 10px;
    background-color: var(--bg-color);
    transform: translateY(0);
    transition: all 1s;
}

.challenges_card:hover {
    box-shadow: 3px 3px 7px #bebebe;
    transform: translateY(-5%);
}

.challenges {
    background-color: var(--bg-grey);
    padding: 60px 0;
}

h4 {
    font-size: 1.3rem;
}


/* PHONG CSS */
.pb-5,
.py-5 {
    padding-bottom: 3rem;
}

.pt-5,
.py-5 {
    padding-top: 3rem;
}

.title-small {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

.text-center {
    text-align: center;
}

.mb-1,
.my-1 {
    margin-bottom: 0.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

.title-big {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

.mb-sm-5,
.my-sm-5 {
    margin-bottom: 3rem;
}

.container {
    max-width: 100%;
}



.testi-des {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    text-align: left;
    grid-gap: 20px;
}

.w3l-testimonials .test-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 50%;
}

.w3l-testimonials .testimonial img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}


img {
    border-style: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.w3l-testimonials .testimonial {
    display: block;
    padding: 40px 30px;
    position: relative;
    border: none;
    max-width: 900px;
    margin: auto;
}

.w3l-testimonials .testimonial {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.w3l-testimonials .testimonial img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.w3l-testimonials {
    background: var(--bg-lightgrey);
}

.w3l-testimonials .testimonial blockquote {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 1.5em;
}

blockquote {
    margin: 0 0 1rem;
}

.w3l-testimonials blockquote q {
    font-size: 16px;
    line-height: 28px;
    color: var(--font-color);
    opacity: .8;
}


#feedback .owl-theme .owl-dots .owl-dot:focus {
    outline: none;
    box-shadow: none;
}

#feedback .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--secondary-color);
    opacity: 1;
    transform: scale(1.5);
}

body button:hover {
    -webkit-transition: 0.5s all;
}


#feedback .owl-two.owl-theme .owl-dots .owl-dot span {
    background: var(--secondary-color);
    opacity: .5;
}



/* BLOG_PHONG */

section {
    display: block;
}

.py-5 {
    padding-bottom: 3rem;
}

.pt-5,
.py-5 {
    padding-top: 3rem;
}

/* container */
.py-lg-5 {
    padding-bottom: 3rem;
}

.py-lg-5 {
    padding-top: 3rem;
}

.container {
    max-width: 1200px;
}

.text-center {
    text-align: center;
}

.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}



.w3l-blog .card {
    border: none;
    background: none;
    box-shadow: 0 20px 40px 0 rgb(50 65 141 / 12%);
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
    border: 1px solid var(--border-color);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.w3l-blog .card-header {
    border: none;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.p-0 {
    padding: 0;
}

.position-relative {
    position: relative;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
}

.w3l-blog a.zoom {
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.d-block {
    display: block;
}


/* HIỆU ỨNG DÙNG VÀO HÌNH ẢNH KHÔNG ĐƯỢC */
.w3l-blog a.zoom img {
    transition: 0.3s ease-in-out;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}



a {
    color: #00a63f;
    text-decoration: none;
    background-color: transparent;
}

.post-thumbnail img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    display: block;
    transition: 0.3s ease-in-out;
    border-radius: var(--border-radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.post-thumbnail img {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: middle;
}


.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.w3l-blog .price-review p a,
.w3l-blog .price-review p {
    font-weight: 400;
    font-size: 17px;
    color: #999;
}

p {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 1.5em;
    font-family: 'Jost', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 27px;
    color: var(--font-color);
    opacity: .8;
    font-family: 'Jost', sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.w3l-blog .price-review p a {
    font-weight: 400;
    font-size: 17px;
    color: #999;
}

.w3l-blog a.blog-desc {
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 10px;
}

a,
a:hover {
    text-decoration: none;
}

.w3l-blog a.blog-desc:hover {
    color: var(--primary-color);
}

body a:hover {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

a:hover,
a:active {
    outline: 0;
}

a {
    color: #00a63f;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #005a22;
    text-decoration: underline;
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-footer {
    background: var(--bg-color);
    border-top: 1px solid var(--border-color-light);
}

.card-footer {
    padding: 0.75rem 1.25rem;
}

.card-footer .author {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}




/* DAU CHAM CHO W3LAYOUT */
.w3l-blog a.post-author {
    overflow: hidden;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
}


.rounded-circle {
    border-radius: 50%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    border-style: none;
    vertical-align: middle;
}



ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: disc;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul {
    box-sizing: border-box;
}

body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

ul.blog-meta li {
    display: inline-block;
}

li {
    list-style-type: none;
}

ul {
    list-style: disc;
}

.w3l-blog span.meta-value {
    color: var(--font-color);
    font-size: 15px;
    font-weight: 600;
    opacity: .6;
}

span {
    -webkit-appearance: none;
    outline: none;
    font-family: 'Jost', sans-serif;
}

.blog-meta li a {
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
}

.blog-meta li a:hover {
    color: var(--primary-color);
}

.date p {
    font-size: 15px;
}

/* PROJECT */
.w3l-project {
    background-image: url(../images/map.png);
    background-color: #151421;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bottom-info {
    max-width: 700px;
    margin: 0 auto;
}

.w3l-project h3.title-big {
    color: #fff;
}

.title-big {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

.w3l-project p {
    color: #eee;
}

.pr-lg-5,
.px-lg-5 {
    padding-right: 3rem;
}

.mt-3,
.my-3 {
    margin-top: 1rem;
}

form.subscribe {
    margin-top: 25px;
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr auto;
    max-width: 550px;
    margin: auto;
}

.subscribe .input-group-text {
    color: #999;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(255, 255, 255, 0.15);
    padding: 0 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

button,
input,
select,
label,
li,
span {
    -webkit-appearance: none;
    outline: none;
}

.subscribe input[type="email"] {
    padding: 14px 20px;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid var(--border-color-light);
    outline: none;
    width: 100%;
    background: var(--bg-color);
    border-radius: 0;
    color: #999;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.15);
    border-left: none;
}

.subscribe button.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 25px;
    font-size: 16px;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #008030;
    border-color: #00732c;
}

/* FOOTER */
.w3l-footer-29-main {
    background: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem;
}

.w3l-footer-29-main .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    opacity: 1;
}

.w3l-footer-29-main .footer-list-29 ul li a,
.w3l-footer-29-main .footer-list-29 ul li p,
.w3l-copyright .footer-list-29 ul li a,
.w3l-footer-29-main a {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: .8;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.w3l-footer-29-main .navbar-brand span.fa {
    color: var(--primary-color);
    margin-right: 5px;
    vertical-align: bottom;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
label,
li,
span {
    -webkit-appearance: none;
    outline: none;
    font-family: 'Jost', sans-serif;
}

.w3l-footer-29-main .navbar-brand {
    text-transform: capitalize;
}

.navbar-brand {
    white-space: nowrap;
}

.w3l-footer-29-main .navbar-brand span.logo {
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    opacity: .9;
}

.w3l-footer-29-main .navbar-brand {
    color: #fff;
}

.w3l-footer-29-main p {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
}

.mt-md-4,
.my-md-4 {
    margin-top: 1.5rem;
}

.col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.main-social-footer-29 a {
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: none;
    border-radius: 50%;
    transition: 0.3s;
    color: #97a1a9;
    opacity: .6;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pr-lg-5,
.px-lg-5 {
    padding-right: 3rem;
}

.mt-md-0,
.my-md-0 {
    margin-top: 0;
}

.w3l-footer-29-main h6.footer-title-29 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 400;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.w3l-footer-29-main p {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem;
}

.w3l-footer-29-main .footer-list-29 ul li a,
.w3l-footer-29-main .footer-list-29 ul li p,
.w3l-copyright .footer-list-29 ul li a,
.w3l-footer-29-main a {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: .8;
}

.w3l-footer-29-main a:hover {
    color: #fff;
    opacity: 1;
}

.w3l-footer-29-main h6.footer-title-29 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 400;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.w3l-footer-29-main .footer-list-29 ul li,
.w3l-footer-29-main .midd-footer-29:nth-child(1) .footer-list-29 ul li:last-child {
    list-style: none;
    margin-bottom: 10px;
}

.w3l-footer-29-main .footer-list-29 ul li a:hover,
.w3l-copyright .footer-list-29 ul li a:hover,
.w3l-footer-29-main a:hover {
    color: #fff;
    opacity: 1;
}

.w3l-footer-29-main .footer-list-29 ul li a,
.w3l-footer-29-main .footer-list-29 ul li p,
.w3l-copyright .footer-list-29 ul li a,
.w3l-footer-29-main a {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: .8;
}

.w3l-copyright {
    padding: 1.5em 0;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.w3l-copyright .copy-footer-29 a {
    color: var(--primary-color);
}

.w3l-copyright .copy-footer-29 a:hover {
    color: #fff;
}

.w3l-copyright #movetop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    padding: 0;
    line-height: 36px;
    border-radius: 35px;
    transition: 0.3s ease-out;
}